<section class='stop-studying'>
  <div class="container" style="height: 100%;">
    <div class="row" style="height: 100%;">
      <div class="col-8">
        <div class="container" style="height: 100%;">
          <div class="row" style="height: 50%;">
            <div class="col-9">
              <div class="vertical-70">
                <h1>STOP STUDYING.</h1>
              </div>
            </div>
          </div>
          <div class="row" style="height: 50%;">
            <div class="col-5">

            </div>
            <div class="col-7">
              <h1>START TALKING.</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="vertical-center horizontal-center">
          <button type="button" class="btn btn-dark btn-speaking">Start speaking now</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class='whitebox'>
  <div class="container" style="height: 100%;">
    <div class="row" style="height: 20%;">
      <div class="col-12">
        <div class="box-title">
          <h2>WHAT WE TEACH</h2>
          <div class="underline"></div>
        </div>
      </div>
    </div>
    <div class="row" style="height: 80%;">
      <div class="col-4">
        <div class="text-center">
          <figure>
            <img src="../../../assets/homepage/english_bw.png" class="img-fluid flag" alt="Responsive image" />
            <figcaption>ENGLISH</figcaption>
          </figure>
        </div>
      </div>
      <div class="col-4">
        <div class="text-center">
          <figure>
            <img src="../../../assets/homepage/spanish_bw.png" class="img-fluid flag" alt="Responsive image" />
            <figcaption>SPANISH</figcaption>
          </figure>
        </div>
      </div>
      <div class="col-4">
        <div class="text-center">
          <figure>
            <img src="../../../assets/homepage/business.png" class="img-fluid flag" alt="Responsive image" />
            <figcaption>BUSINESS ENGLISH</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section class='greenbox-video'>

  <div class="container-fluid" style="height: 100%; width:100%;">
    <div class="row" style="height: 20%;">
      <div class="col">
        <div class="text-center">
          <h2>HOW IT WORKS</h2>
          <div class="underline-green"></div>
        </div>
      </div>
    </div>
    <div class="row" style="height: 80%;">
      <div class="col">
        <div class="container-fluid vertical-center" style="height: 100%;">
          <div class="row" style="height: 30%;">
            <div class="col-3"></div>
            <div class="col-9">
              <div class="vertical-center text-left">
                <h4>Live lessons with native speaking teachers.</h4>
              </div>
            </div>
          </div>
          <div class="row" style="height: 50%;">
            <div class="col-3">

            </div>
            <div class="col-9">
              <div class="text-left">
                <h6>Learn to understand natural, fast speech and imitate correct pronunciation.</h6>
                <h6>Feel super confident when talking to real people!</h6>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col">
        <div class="container" style="height: 100%;">
          <div class="row" style="height: 50%;">
            <div class="col-4">

            </div>
            <div class="col-6">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VgrZ6zLFe3o"
                  allowfullscreen></iframe>
              </div>

            </div>
            <div class="col-2">

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section class='whitebox'>

  <div class="container-fluid" style="height: 100%; width:100%;">
    <div class="row" style="height:100%">
      <div class="col-5">
        <div class="vertical-center">
          <img src="../../../assets/homepage/speak_listen.png" class="img-speak" />
        </div>
      </div>
      <div class="col-7">
        <div class="container vertical-center">
          <div class="row">
            <div class="col-1">
            </div>
            <div class="col-9">
              <div class="text-left" style="margin-bottom: 30px;">
                <h4>Speak and listen all the time.</h4>
              </div>
            </div>
            <div class="col-2">
            </div>
          </div>
          <div class="row">
            <div class="col-1">
            </div>
            <div class="col-9">
              <div class="text-left">
                <span>No chit-chat, no time-wasting. Intense lessons, fast results. Develop practical communication
                  skills quickly.</span>
              </div>
            </div>
            <div class="col-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='greenbox'>

  <div class="container-fluid" style="height: 100%; width:100%;">
    <div class="row" style="height:100%">
      <div class="col-7">
        <div class="container vertical-center">
          <div class="row">
            <div class="col-2">

            </div>
            <div class="col-10">
              <div class="text-left" style="margin-bottom: 30px;">
                <h4>Structure.</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-2">

            </div>
            <div class="col-10">
              <div class="text-left">
                <span class="greenbox-text">Every lesson follows a script. You know what to expect. You know exactly
                  what you are learning
                  and can see your progress clearly.</span>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-5">
        <div class="vertical-center">
          <img src="../../../assets/homepage/darts.png" class="img-darts" />
        </div>
      </div>
    </div>
  </div>
</section>


<section class='whitebox'>

  <div class="container-fluid" style="height: 100%; width:100%;">
    <div class="row" style="height:100%">
      <div class="col-5">
        <div class="vertical-center">
          <img src="../../../assets/homepage/qa.png" class="img-qa" />
        </div>
      </div>
      <div class="col-7">
        <div class="container vertical-center">
          <div class="row">
            <div class="col-1">

            </div>
            <div class="col-9">
              <div class="text-left" style="margin-bottom: 30px;">
                <h4>Question - Answer formula.</h4>
              </div>
            </div>
            <div class="col-2">

            </div>
          </div>
          <div class="row">
            <div class="col-1">

            </div>
            <div class="col-9">
              <div class="text-left">
                <span>Listen as the teacher asks you questions, train correct grammar and pronunciation as you answer
                  (always with the teacher's help).</span>
              </div>
            </div>
            <div class="col-2">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='greenbox'>

  <div class="container-fluid" style="height: 100%; width:100%;">
    <div class="row" style="height:100%">
      <div class="col-7">
        <div class="container vertical-center">
          <div class="row">
            <div class="col-2">

            </div>
            <div class="col-10">
              <div class="text-left" style="margin-bottom: 30px;">
                <h4>Speak, correct, repeat.</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-2">

            </div>
            <div class="col-10">
              <div class="text-left">
                <span class="greenbox-text">Teachers help you correct any mistakes you make when speaking. You train the
                  new language
                  you've learned until you can use it confidently.</span>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-5">
        <div class="vertical-center">
          <img src="../../../assets/homepage/repeat.png" class="img-darts" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="how-to-start">
  <div class="container-fluid" style="height: 100%; width: 100%;">
    <div class="row header">
      <div class="col">
        <div class="text-center">
          <h2>HOW TO START</h2>
          <div class="underline"></div>
        </div>
      </div>
    </div>
    <div class="row" style="height: 50%; margin-top:30px">
      <div class="col-1"></div>
      <div class="col-2">
        <div class="text-center vertical-center">
          <figure>
            <img src="../../../assets/homepage/credit.png" class="img-hts" alt="Responsive image" />
          </figure>
        </div>
      </div>
      <div class="col-2">
        <div class="text-center vertical-center">
          <figure>
            <img src="../../../assets/homepage/arrow1.png" class="img-arrow" alt="Responsive image" />
          </figure>
        </div>
      </div>
      <div class="col-2">
        <div class="text-center vertical-center">
          <figure>
            <img src="../../../assets/homepage/level.png" class="img-hts" alt="Responsive image" />
          </figure>
        </div>
      </div>
      <div class="col-2">
        <div class="text-center vertical-center">
          <img src="../../../assets/homepage/arrow2.png" class="img-arrow" alt="Responsive image" />
        </div>
      </div>
      <div class="col-2">
        <div class="text-center vertical-center">
          <figure>
            <img src="../../../assets/homepage/calendar.png" class="img-hts" alt="Responsive image" />
          </figure>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row" style="margin-top:40px">
      <div class="col-4">
        <div class="text-center">
          <h4>Sign up and get a free lesson credit.</h4>
        </div>
      </div>
      <div class="col-4">
        <div class="text-center">
          <h4>Check your level.</h4>
        </div>
      </div>
      <div class="col-4">
        <div class="text-center ">
          <h4>Choose a plan and start speaking.</h4>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:10px">
      <div class="col-4">
        <div class="text-center">
          <span>Each credit allows you to book one lesson.</span>
        </div>
      </div>
      <div class="col-4">
        <div class="text-center">
          <span>Use your free credit to book a free session with a teacher, who will give you a level test.</span>
        </div>
      </div>
      <div class="col-4">
        <div class="text-center ">
          <span>Get more credits and book regular lessons in your stage.</span>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="mx-auto">
        <button class="btn btn-dark btn-green" type="button">Give it a try!</button>
      </div>
    </div>
  </div>
</section>


<section class='greenbox-video'>

  <div class="container-fluid" style="height: 100%; width:100%;">
    <div class="row" style="height: 20%;">
      <div class="col">
        <div class="text-center" style="margin-top: 20px;">
          <h2>WHO WE TEACH</h2>
          <div class="underline-green"></div>
        </div>
      </div>
    </div>
    <div class="row" style="height: 80%;">
      <div class="col">


      </div>
    </div>
  </div>
</section>


<section class='whitebox-title'>

  <div class="container-fluid" style="height: 100%; width:100%;">
    <div class="row" style="height: 20%;">
      <div class="col">
        <div class="text-center" style="margin-top: 20px;">
          <h2>WHY WE ARE GREEN</h2>
          <div class="underline-green"></div>
        </div>
      </div>
    </div>
    <div class="row" style="height:80%">
      <div class="col-7">
        <div class="container vertical-center">
          <div class="row">
            <div class="col-2">

            </div>
            <div class="col-10">
              <div class="text-left" style="margin-bottom: 30px;">
                <h4>Low emissions business.</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-2">

            </div>
            <div class="col-10">
              <div class="text-left">
                <span>Callan Online teachers work from home. You learn from home (or wherever you happen to be that&#39;s
                  convenient).
                </span>
                <span>No heated or air-conditioned classrooms, no commuting. Our non-teaching staff often work remotely, too.
                </span>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-5">
        <div class="vertical-center">
          <img src="../../../assets/homepage/car.png" class="img-car" />
        </div>
      </div>
    </div>
  </div>
</section>