<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 mt-4 d-flex align-items-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <h1>Teachers</h1>
          </div>
        </div>
        <div class="row mt-2 mb-2">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <ul>
              <li class="mt-2">
                <p class="font-weight-light">
                  Ask you questions (each question twice).
                </p>
              </li>
              <li class="mt-2">Correct your mistakes.</li>
              <li class="mt-2">
                Help you give answers (start every answer with you).
              </li>
              <li class="mt-2">
                Are lovely, beautiful people (just look at these cute faces).
              </li>
            </ul>
          </div>
        </div>
        <div class="row row mb-4">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <h1>
              Stay motivated, learn to speak correctly and understand various
              accents.
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-4 mb-3 d-flex align-items-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-2"></div>
          <div class="col-xl-6 ">
            <img
              src="../../../../../../../assets/courses/english/credits.png"
              id="center"
              class="img-fluid"
            />
          </div>
          <div class="col-xl-4"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <ul class="nav nav-tabs" id="pricingTab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="whole-tab"
          data-toggle="tab"
          href="#whole"
          role="tab"
          aria-controls="whole"
          aria-selected="true"
          >WHOLE COURSE</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="instalments-tab"
          data-toggle="tab"
          href="#instalments"
          role="tab"
          aria-controls="instalments"
          aria-selected="false"
          >3 INSTALMENTS</a
        >
      </li>
    </ul>
  </div>
  <div class="row mt-5 justify-content-center">
    <div class="col-12">
      <div class="tab-content" id="pricingTabContent">
        <div
          class="tab-pane fade show active"
          id="whole"
          role="tabpanel"
          aria-labelledby="whole-tab"
        >
          <div class="text-center">
            <p class="font-weight-normal" style="font-size: 2em">
              Buy whole course and save 15%. You have 24 weeks to complete
              course.
            </p>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="instalments"
          role="tabpanel"
          aria-labelledby="instalments-tab"
        >
          <div class="text-center">
            <p class="font-weight-normal" style="font-size: 2em">
              Buy whole course and save 15%. You have 24 weeks to complete
              course.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
