<!-- Footer -->
<footer class="footer page-footer font-small pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-2"></div>
      <div class="col-md-2 mb-md-0 mb-2">
        <!-- Links -->
        <ul class="list-unstyled centered">
          <li>
            <a href="#!">Help</a>
          </li>
          <li>
            <a href="#!">Teach with us</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-4">
        <!-- Links -->
        <ul class="list-unstyled centered">
          <li>
            <a href="#!">Terms & Conditions</a>
          </li>
          <li>
            <a href="#!">Student Privacy Policy</a>
          </li>
          <li>
            <a href="#!">Teacher Privacy Policy</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-2">
        <!-- Links -->
        <ul class="list-unstyled centered">
          <li>
            <a href="#!">Callan Method Organisation</a>
          </li>
          <li>
            <a href="#!">Callan Method Group</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 mb-md-0 mb-2"></div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © Callan Online Ltd 2020 The Callan name and logo are protected trademarks
    and must not be used without permission.
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
