<footer class="footer page-footer font-small pt-4">
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-2 mb-md-0 mb-2"></div>
      <div class="col-md-3 mb-md-0 mb-3">
        <ul class="list-unstyled centered">
          <li>
            <a href="#!">Help</a>
          </li>
          <li>
            <a href="#!">Teach with us</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <ul class="list-unstyled centered">
          <li>
            <a href="#!">Terms & Conditions</a>
          </li>
          <li>
            <a href="#!">Student Privacy Policy</a>
          </li>
          <li>
            <a href="#!">Teacher Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 mb-md-0 mb-2">
        <ul class="list-unstyled centered">
          <li>
            <a href="#!">Callan Method Organisation</a>
          </li>
          <li>
            <a href="#!">Callan Method Group</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 mb-md-0 mb-2"></div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © Callan Online Ltd 2020 The Callan name and logo are protected trademarks
    and must not be used without permission.
  </div>
</footer>
