.navbar-dark {
  height: 120px;
  font-size: 25px;
}

.left-panel {
  width: 60%;
}

.social-media {
  padding-left: 5%;
  padding-right: 5%;
}

.login-panel {
  padding-left: 5%;
}

.navbar-dark {
  background-color: black;
}
