.gradient-background {
  background: linear-gradient(to right, black, rgb(110, 0, 15));
  color: white;
}
.normal-text {
  line-height: 2em;
}

.img-fluid {
  max-height: 14rem;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
