<div class="gradient-background">
  <div class="container-fluid">
    <div class="row mt-4 d-flex align-items-center">
      <div class="div col-12 mt-4">
        <div class="text-center">
          <p style="font-size: 1rem">
            <b>Light plan</b> - <b>3 lessons</b>/week
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-4 d-flex align-items-center">
      <div class="col-sm-3 mt-3 mb-3 text-center"></div>
      <div class="col-sm-2 mt-2 mb-2 text-center align-items-center">
        <div class="d-flex justify-content-end">
          <div class="card border-success mb-3" style="max-width: 12rem;">
            <div class="card-header bg-transparent border-success">
              <b>Light 4 weeks</b><br />
              (English)
            </div>
            <div class="card-body text-success" style="max-height: 6rem">
              <h3 class="card-title">165 eur</h3>
              <h3 class="card-title">12 lessons</h3>
            </div>
            <div class="card-footer bg-transparent border-success">
              <button class="btn btn-success">Log in to buy</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 mt-2 mb-2 text-center align-items-center">
        <div class="d-flex justify-content-end">
          <div class="card border-success mb-3" style="max-width: 12rem;">
            <div class="card-header bg-transparent border-success">
              <b>Light 4 weeks</b><br />
              (English)
            </div>
            <div class="card-body text-success" style="max-height: 6rem">
              <h3 class="card-title">165 eur</h3>
              <h3 class="card-title">12 lessons</h3>
            </div>
            <div class="card-footer bg-transparent border-success">
              <button class="btn btn-success">Log in to buy</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 mt-2 mb-2 text-center align-items-center">
        <div class="d-flex justify-content-end">
          <div class="card border-success mb-3" style="max-width: 12rem;">
            <div class="card-header bg-transparent border-success">
              <b>Light 4 weeks</b><br />
              (English)
            </div>
            <div class="card-body text-success" style="max-height: 6rem">
              <h3 class="card-title">165 eur</h3>
              <h3 class="card-title">12 lessons</h3>
            </div>
            <div class="card-footer bg-transparent border-success">
              <button class="btn btn-success">Log in to buy</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-3 mb-3 text-center"></div>
    </div>
    <div class="row text-center">
      <div class="col-12 mb-5 mt-2">
        <button
          type="button"
          class="btn btn-success btn-circle btn-md ml-1 mr-1"
        >
          €
        </button>
        <button
          type="button"
          class="btn btn-success btn-circle btn-md ml-1 mr-1"
        >
          £
        </button>
        <button
          type="button"
          class="btn btn-success btn-circle btn-md ml-1 mr-1"
        >
          zł
        </button>
        <button
          type="button"
          class="btn btn-success btn-circle btn-md ml-1 mr-1"
        >
          $
        </button>
        <button
          type="button"
          class="btn btn-success btn-circle btn-md ml-1 mr-1"
        >
          Ұ
        </button>
      </div>
    </div>
  </div>
</div>
